/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require github-markdown
 *= require_self
 */

body {
  max-width: 760px;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 1.5;
  font-family: helvetica neue, sans-serif;
}

#header {
  border-bottom: 4px solid #222;
  text-transform: uppercase;
  font-style: italic;
  text-align: right;
}

#header .site-title {
  font-size: 2em;
  font-weight: 200;
}
.site-title a {
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 1.1;
}

.post {
  position: relative;
}

.post-header {
  font-size: 80%;
  margin-bottom: 1rem;
}

.post-full h1 a, .post-excerpt h1 a {
  text-decoration: none;
  color: inherit;
}

.post-excerpt {
  margin-bottom: 5em;
}

.post-published-at, .post-updated-at, .post-comments-link {
  margin-left: 10px;
}

.post-label-list {
  padding: 0;
  list-style-type: none;
  display: inline;
  margin-left: 10px;
}

.post-label-list .post-label {
  display: inline;
  color: #fff;
  padding: 3px 6px;
}

.post-author {
  display: inline;
}

.post-author img {
  margin-right: 10px;
  vertical-align: middle;
}

.text-muted {
  color: #c0c0c0;
  font-size: 80%;
}
.view-more {
  margin-top: 1em;
  text-align: right;
}

.markdown-body img {
  float: right;
}

@media (max-width: 800px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  .markdown-body img {
    float: none;
    margin: 0 auto;
    display: block;
  }
  .post-published-at, .post-updated-at, .post-comments-link {
    margin-left: 0;
    display: block;
  }
}
